<div class="container">
  <div class="column">
    <form>
      <div class="image">
        <img src="{{logo}}">
      </div>
      <h2>Register</h2>
      <div class="input-box">
        <label>Username</label>
        <input type="text" name="username">
      </div>
      <div class="input-box">
        <label>Password</label>
        <input type="password" name="password">
      </div>
        <div class="button">
          <button>
            Sign Up
          </button>
        </div>
    </form>
  </div>
</div>